<div class="login-container">
  <!-- TOP NAV ACTIONS -->
  <div class="top-nav-header">
    <a routerLink="/" class="nav-extra-link"><tui-icon icon="@tui.chevron-left"></tui-icon> TRANG CHỦ</a>
    <a routerLink="/storefront" class="nav-extra-link">VÀO CỬA HÀNG <tui-icon icon="@tui.shopping-bag"></tui-icon></a>
  </div>

  <div class="login-box">
    <div class="logo-wrapper">
      <a routerLink="/storefront" class="logo">WSSTYLE <span>LUXE</span></a>
    </div>
    
    <h3>ĐĂNG NHẬP</h3>
    <p class="subtitle">Chào mừng bạn quay trở lại với WSSTYLE</p>

    <div *ngIf="successMsg" class="success-alert">
      {{ successMsg }}
    </div>
    <div *ngIf="errorMsg" class="error-alert">
      {{ errorMsg }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label tuiLabel>ĐỊA CHỈ EMAIL</label>
        <tui-textfield tuiTextfieldSize="m">
          <input tuiTextfield type="email" formControlName="email" placeholder="example@mail.com" />
        </tui-textfield>
        <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>
      </div>

      <div class="form-field">
        <label tuiLabel>MẬT KHẨU</label>
        <tui-textfield tuiTextfieldSize="m" tuiPassword>
          <input tuiTextfield type="password" formControlName="password" placeholder="••••••••" />
        </tui-textfield>
        <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>
      </div>

      <div class="actions">
        <button tuiButton type="submit" appearance="primary" [disabled]="loading" class="submit-btn" >
          ĐĂNG NHẬP
        </button>
      </div>
    </form>

    <div class="footer-links">
      <span>Chưa có tài khoản?</span>
      <a routerLink="/register">Đăng ký ngay</a>
    </div>
  </div>
</div>
